body{
  z-index: 0;
  background-color: #aedbe1;
  font-family: "微软雅黑";
  font-size: 14px;
}
a{
  color: #444;
  text-decoration: none;
}
a:hover{
  color: #0a8f8c;  
}
.clear{
  clear: both;
}
.font1{
  font-family: "微软雅黑";
}
.font2{
  font-family: "宋体";
  font-size: 14px;
}
.header{
  height: 164px;
  width: 100%;
  background:url(../img/header.gif) center no-repeat;
}
.head{
  height: 164px;
  width: 998px;
  margin: 0 auto;
  background: url(../img/banner_02.gif);
}
.content{
  width: 1000px;
  height: 690px;
  margin: 0 auto;
  background-color: #ffffff;
  border: #eee 1px solid;
  overflow: hidden;
}
.content-left{
  width: 280px;
  height: 680px;
  margin: 8px 0 0 8px ;
  float: left;
  overflow: hidden;
}
.content-middle{
  width: 404px;
  overflow: hidden;
  height: 680px;
  margin: 8px 0  0 10px;
  float: left;
}
.content-right{
  width: 280px;
  overflow: hidden;
  height: 680px;
  margin: 8px 0 0 8px ;
  float: left;
}
.content-left-top{
  width: 276px;
  height: 329px;
  border:#0a8f8c 2px solid;
  background: url(../img/bg_03.gif);
}
.module-head{
  width: 100%;
  height: 37px;
  border-bottom: 2px solid #0a8f8c;
  overflow: hidden;
}
.module-name{
  width: auto;
  margin-left: 8px;
  padding: 0 8px;
  float: left;
  height: 37px;
  line-height: 37px;
  color: #fff;
  background:url(../img/module-head-bg.gif) repeat-x;
}
.more{
  float: right;
  margin-right: 10px;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  font-family: 
}
.more span{
  vertical-align: middle;
  font-family: "Times New Roman";
  color: #0a8f8c;
  margin-left: 3px;
}
.more a{
  color: #000;
  text-decoration: none;
}
.module-content{

}
.module-content ul{
  padding-left:20px;
  +margin: 10px 0 0 0;
}
.module-content ul li {
  line-height: 23px;
}
.module-content ul li span{
  float: right;
  margin-right: 10px;
}
.content-left-middle {
  margin: 10px 0 0 0 ;
  border: 2px solid #0a8f8c;
  background-color: #c6eef0;
  overflow: hidden;
}
.content-left-middle ul{
  margin: 10px 0 0 5px;
  padding:0px;
  
}
.content-left-middle ul li {
  width: 90px;
  list-style: none;
  float: left;
}
.content-left-middle ul li img{
  width: 85px;
  height: 103px;
}
.content-left-middle ul li p{
  text-align: center;
  margin:8px 0px; 
}
.content-left-bottom{
  height: 140px;
  border: 2px solid #0a8f8c;
  background: url(../img/bg_03.gif);
  border-top: none;
}
.content-left-bottom ul{
  margin: 0px;
  padding-left:20px;
  list-style: none;
  width: 280px;
  height: auto;
  text-align: center;
  overflow: hidden;
}
.content-left-bottom ul li {
  width: 235px;
  height: 35px;
  margin: 12px 0 0 0 ;
  text-align: center;
  float: left;
  background-color: #00a9a4;
  line-height: 35px;
  color: #fff;
}

.content-left-bottom ul li a{
  text-decoration: none;
  color: #fff;
  display: block;
  width: 100%;
}
.border-none{
  border: none !important;
}
.content-middle-top{
  width: 400px;
  height: 330px;
  border: 2px solid #0a8f8c;
}
.pic-box{
  position: relative;
  height: 330px;
  width: 400px;
}
.pic-box ul{
  margin: 0px;
  padding: 0px;
}
#slide-pic{
  height: 300px;
  overflow: hidden;
  position: relative;
}
#slide-pic li{
  overflow: hidden;
  float: left;
}
#slide-pic img{
  width: 400px;
  height: 300px;
  position: absolute;
  z-index: 3;
}
#pic-instruction{
  height: 30px;
  width: 400px;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  list-style: none;
}
#pic-instruction li{
  text-align: center;
  overflow: hidden;
  line-height: 30px;
  background: url(../img/slide-pic-instruction-bg.gif) repeat-y;
}
#pic-num{
  position: absolute;
  bottom: 30px;
  width: 390px;
  padding-right: 10px;
  float: right;
  z-index: 3;
}
#pic-num li{
  float: right;
  display: block;
  height: 16px;
  text-align: center;
  line-height: 16px;
  width: 16px;
  background-color: #11a6aa;
  color: #fff;
  font-size: 10px;
  cursor: pointer;
  margin: 8px 2px;
}
.picNoActive{
  display: none;
}
.picActive{
  display: block;
}
.insActive{
  display: block;
}
.insNoActive{
  display: none;
}
.numActive{
  background-color: #058a76 !important;
}
.content-middle-bottom{
  background: url(../img/bg_07.gif);
  height: 330px;
  border: 2px solid #0a8f8c;
  margin-top: 10px;
}
.content-right-top{
  height: 330px;
  border: 2px solid #0a8f8c;
  background: url(../img/bg_03.gif);
}
.content-right-bottom{
  height: 330px;
  border: 2px solid #0a8f8c;
  background: url(../img/bg_03.gif);
  margin-top: 10px;
  position: relative;
}
.content-right-bottom ul {
  list-style: none;
  margin-left: 20px;
}
.content-right-bottom ul li{
  height: auto;
  line-height: 20px;

}
.content-right-bottom ul li a{
  text-decoration: none;
}
.f-link{
  height: 140px;
  width: 277px;
  overflow: hidden;
  background: url(../img/bg_10.gif);
  border-top:2px solid #0a8f8c;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.f-link ul {
  list-style: none;
  margin-left: 20px;
  margin-top: 20px;
  _margin-left: 50px;
  _margin-top:20px;
}
.f-link ul li{
  height: auto;
  line-height: 20px;
  margin-top: 5px;
  width: 190px;

}
.f-link ul li a{
  text-decoration: none;
  color: #333;
}
.f-link ul li a:hover{
  text-decoration: underline;
}
.nav{
  width: 998px;
  margin:0 auto;
  height: 40px;
  background: url(../img/nav_03.gif);
  margin-bottom: 15px;
  z-index: 0;
}
.nav ul {
  list-style: none;
  margin: 0 0 0 40px;
  _margin:0;
  padding: 0px;
  float: left;
  height: 40px;
  width: auto;
}
.nav ul li {
  width: auto;
  _width:75px;
  display: block;
  color: #fff;
  font-size: 18px;
  font-family: "微软雅黑";
  float: left;
  height: 40px;
  line-height: 40px;
  position: relative;
  padding: 0 13px;
  z-index: 10;
}
#nav-sp1{
  _width:130px;
}
#nav-sp2{
  _width: 90px;
}
.nav ul li a{
  text-align: center;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}
.nav ul li:hover{
  background: #058a76;
}
.nav-att{
  position: absolute;
  top: 50px;
  left: 0px;
  width: 120px;
  height: auto;
  display: none;
  background: #36a99d;
  z-index: 10;
}
.nav-att ul{
  margin: 0px !important;
  padding-left: 8px;
  height: auto;
  padding-top: 8px;
  padding-bottom: 10px;
  overflow: hidden;

}
.nav-att ul li{
  font-size: 12px !important;
  height: 30px;
  margin: 0px;
  padding: 0 10px;
  overflow: hidden;
  line-height: 30px;

}
.nav-att ul li:hover{
  background: #058a76;
}
.nav-att-tri{
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  left: 30px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #36a99d;
  _width:0px;
  _height:0px;
  _font-size: 0px;
  _line-height:0px; 
  _display:none;
}
.footer{
  width: 100%;
  height: 155px;
  background: #2c808b;
}
.foot{
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  width: 1000px;
  height: 97px;
  background: url(../img/foot_25.gif) repeat-x;
  color:#fff;
}

.link-in-school{
  margin: 0;
  height: 35px;
  padding: 0;
  z-index: 11;
  position: relative;
  margin-top: 20px;
}
.link-in-school span{
  display: inline-block;
  background: url(../img/link_03.gif);
  height: 35px;
  width: 234px;
  cursor: pointer;
}
.link-in-school li{
  text-align: center;
  background-color: #fff;
  width: 234px;
  height: 30px;
}
.link-in-school li a{
  z-index: 11;
  color: #333;
  display: block;
}
.link-in-school li:hover{
  background-color: #ccf0f2;
  color: #333;
}

.link-out-school li:hover{
  background-color: #ccf0f2;
  color: #333;
}


.link-out-school{
  margin: 0;
  height: 35px;
  padding: 0;
  z-index: 10;
  position: relative;
  margin-top: 20px;
}
.link-out-school span{
  display: inline-block;
  background: url(../img/link_06.gif);
  height: 35px;
  width: 234px;
  cursor: pointer;
}
.link-out-school li{
  text-align: center;
  background-color: #fff;
  width: 234px;
  height: 30px;
  color: #333;
  overflow: hidden;
}
.link-li1{
  display: none;
}
.link-li2{
  display: none;
}